.top {
    height: 132px;
    background-color: #e66c06;
}

.top .back, .more {
    height: 55px;
}

.back {
    float: left;
    width: 132px;
    text-align: center;
    padding: 38.5px 0;
}

.more {
    float: right;
    width: 132px;
    text-align: center;
    padding: 38.5px 0;
}

.title {
    color: #ffffff;
    margin: 0 132px;
    text-align: center;
    padding: 39px 0;
    font-size: 54px;
    height: 54px;
    letter-spacing: 5px;
}