.top{
    height: 132px;
    background-color: #e66c06;
}
.top div{
    color: #ffffff;
    height: 55px;
    line-height: 54px;
    font-size: 54px;
}

.back {
    float: left;
    width: 132px;
    text-align: center;
    padding: 38.5px 0;
}

.more {
    float: right;
    width: 132px;
    text-align: center;
    padding: 38.5px 0;
}

.title {
    margin: 0 132px;
    text-align: center;
    padding: 39px 0;
}